.container {
  width: 50%;
  height: 400px;
}
/* .table-row-actions button {
  display: none;
}

.table-row:hover .table-row-actions button {
  display: inline-block;
} */
.table-row {
  position: relative;
}

.table-row-actions {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.table-row:hover {
  background-color: rgb(139, 139, 139);
  cursor: pointer;
}

.table-row:hover .table-row-actions {
  display: block;
}