.container-wrapper {
  width: 45%;
  height: 100%;
  border-radius: 10px;
  border: 10px solid white;
}
.custom-table {
  font-size: 10px;
  padding: 10px;
}
.table-row {
  position: relative;
}
.table-wrapper {
  height: 100%;
  width: 100%;
  background-color: white;
}
.table-row-actions {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.table-row:hover {
  background-color: rgb(139, 139, 139);
  cursor: pointer;
}

.table-row:hover .table-row-actions {
  display: block;
}