.highcharts {
  background-color: white;
  width: 50%;
  margin-bottom: 10px;
}
.title {
  text-align: start;
  height: 20%; width: 100%;
}

.card-info {
  width: 30%;
  font-size: 8px;
}
.card-wrap {
  width: 22.5%;
  height: 100%;
}
.title-left {
  text-align: left;
}
.dashboard {
  width: 100%; height: 15%;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  gap: 3px; 
}
.middle-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  width: 100%;
  width: 100%;
  padding-bottom: 2px;
}
.tax-table {
  width: 100%;
  width: 100%;
}
.tr-row-card {
  line-height: 10px; 
  padding: 2px;
}
.table-card {
  width: 100%;
}
.taxes {
  color: rgb(84, 187, 255)
}
.naklady {
  color: #FF4C4C;
  font-size: 18px;
  font-weight: bold;
}
.trzby {
  color: #29AB87;
  font-size: 18px;
  font-weight: bold;
}
.docs {
  font-size: 8px;
  font-weight: bold;
  color:rgba(0, 0, 0, 0.247)
}
@media (max-width: 768px) {
  .dashboard {
    width: 100%; height: auto;
    display: flex; 
    flex-direction: column;
    align-items: center;
  }
  .card-info {
    width: auto;
  }
  .card-wrap {
    width: 100%;
    height: 100%;
  }
  }