.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline: 1%;
  box-sizing: border-box;
  width: 70%;
  height: 100vh;
  background-color: rgb(240, 240, 240);
  gap: 1%
}

.charts {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  gap:2%;
}

.pageTitle {
  color: rgb(105, 105, 130);
}
.obdobie {
  background-color: rgba(0, 0, 0, 0.699);
  border-radius: 50px;
  padding: 10px;
  font-size: 10px;
  color: white
  
}
.header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
}